body {
  padding: 71px 0 0 0;
}

.titulo {
  font-size: 19px;
  border-bottom: 2px solid rgb(180, 180, 180);
  height: 41px;
  grid-template-columns: auto auto auto auto auto;
  display: grid;
  text-shadow: 1.5px 1.5px 0.40px rgb(187, 187, 187);
  color: rgb(34, 34, 39);
  background-color: rgb(250, 250, 250);
  white-space: nowrap;
  position: fixed;
  padding: 8px 8px 0 8px;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1740px) {
  .titulo {
    grid-template-columns: auto auto auto auto auto auto;
  }
  .titulo > h1:nth-child(1) {display: inline;}
}
@media (max-width: 1739px) and (min-width: 1421px) {
  .titulo {
    grid-template-columns: auto auto auto auto auto;
  }
  .titulo > h1:nth-child(1) {display: none;}
}
@media (max-width: 1420px) and (min-width: 1131px) {
  .titulo {
    grid-template-columns: auto auto auto auto;
  }
  .titulo > h1:nth-child(1) {display: none;}
  .titulo > h1:nth-child(2) {display: none;}
}
@media (max-width: 1130px) and (min-width: 881px) {
  .titulo {
    grid-template-columns: auto auto auto;
  }
  .titulo > h1:nth-child(1) {display: none;}
  .titulo > h1:nth-child(2) {display: none;}
  .titulo > h1:nth-child(3) {display: none;}
}
@media (max-width: 880px) {
  .titulo {
    grid-template-columns: auto auto;
  }
  .titulo > h1:nth-child(1) {display: none;}
  .titulo > h1:nth-child(2) {display: none;}
  .titulo > h1:nth-child(3) {display: none;}
  .titulo > h1:nth-child(4) {display: none;}
}

.titulo > h1 {
  margin: 0;
  align-content: space-between;
  animation: ejemplar;
  animation-duration: 26s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes ejemplar {
    from {transform: translate(-64%, 0)}
    to {transform: translate(100%, 0)}
}

.header {
  display: flex;
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
}

.menu-elemento {
  background-color: white;
  margin: 6px 3.5px 6px 3.5px;
  padding-right: 50px;
  padding-bottom: 4px;
  border-right: 1px solid rgba(146, 146, 146, 0.70);
  border-bottom: 1px solid rgba(146, 146, 146, 0.70);
  box-shadow: -1px -1px 7px rgba(146, 146, 146, 0.50) inset;
  height: 23px;
  flex: 1;
}

.elemento-palabra {
  color: rgb(41, 41, 41);
  text-decoration: none;
  letter-spacing: 4px;
  font-family: Roboto Slab;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 22px;
}
.header > span {
  flex: 6;
}

.archivo {
  margin-left: 70px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.archivo > p {
  font-family: Roboto Slab;
  font-size: 19px;
  margin: 12px 0 0 0;
  display: flex;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.mes {
  min-width: 110px;
  flex: 1.5;
}
.dias-indicador {
  flex: 8;
  color: white;
  text-align: end;
  width: 100%;
  transition: color 0.15s ease-out;
}
.sep {
  flex: 5;
}
@media (max-width: 1150px) and (min-width: 1140px){
  .sep {
    flex: 4;
  }
}
@media (max-width: 1140px) and (min-width: 790px) {
  .sep {
    flex: 0.1;
  }
}
@media (max-width: 789px) {
  .dias-indicador {
    white-space: nowrap;
    visibility: hidden;
  }
  .sep {
    flex: 0.1
  }
}

.archivo > p:hover > .dias-indicador {
  color: black;
  width: 0;
}